html {
  background: url(img/pekka.jpg);
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: rgb(255, 0, 0);
}

#quiz {
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 1);
  max-width: 800px;
}

h2 {
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #c70000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.response {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}

.response span {
  font-weight: normal;
  color: red;
}
#result {
  margin-top: 20px;
  font-weight: bold;
  color: red; /* Set result text color to red */
}
